.title{
    display: flex;
    margin-top: 100px;
    font-size : 48px;
    justify-content: center;
    color : #2374AB;
    margin-bottom: 50px;
}

.projects{
    display: flex;
    font-size : 48px;
    justify-content: center;
    width: 50%;
    margin: auto;
    color : #f2f6db;
}
.left{
    display: flex;
    height : 500px;
    justify-content: center;
    background-color : #2374AB;
    float:left;
    width: 30%;
}

.right{
    height : 500px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background-color : white;
    flex-wrap: wrap;
    float:right;
    width:70%;
}
.work{
    display: flex;
    justify-content: center;
    color : #F60015;
    font-size:32pt;
    flex-wrap: wrap;
}

#projectWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.info{
    display:flex;
    justify-content: center;
    color:black;
    font-size: 22pt;
    margin:auto;
}
.img{
    margin:auto;
    margin-top : 10px;
}
.projimage{
    margin:auto;
    height:25px;
    width:25px;
}