.chalkboard{
    display:flex;
    justify-content: center;
    background: #313333;
    margin-left : 100px;
    margin-right : 100px;
    margin-top : 20px;
    border: 30px solid gray;
    font-family: 'Indie Flower', cursive;
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 1) inset;

}
.about{
    display: flex;
    margin-top: 100px;
    font-size : 48px;
    justify-content: center;
    color : #2374AB;
}
.list {
    color : #f2f6db;
    font-size: 24pt; 
}
.dj{
    height:400px;
     margin:auto;
     margin-left:0;
}
.amber {
    height :400px;
    margin:auto;
    margin-right:0;
}